.flex {
  display: flex;
}
.absolPos {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.navbar {
  display: flex;
  justify-content: center;
  margin: 25px 25px;
}
.navbar .topNav {
  margin: 30px 30px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  opacity: 80%;
  padding: 10px;
  font-weight: bold;
  margin-left: 10px;
}
.navbar .Home {
  border-right: 1.5px solid grey;
}
.navbar .About {
  border-right: 1.5px solid grey;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    margin-left: 20px 0;
    margin-bottom: 20px;
  }
  .navbar .Home,
  .navbar .About {
    border-right: none;
  }
}
.textBox {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
}
.textBox .large {
  margin-left: 35%;
  margin-right: 10%;
  width: 60%;
  opacity: 70%;
  display: inline-block;
  margin-bottom: 10px;
}
.textBox p {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  display: inline-block;
  margin-left: 12%;
  margin-top: 8%;
}
.textBox .bottomtxt {
  position: absolute;
  color: black;
  font-size: 1.6rem;
  top: 60%;
  font-size: 20px;
  margin: 5px 12%;
}
.artists-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.artists-container .artPics {
  width: 150%;
  height: 50%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.artist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 325px;
}
.bio {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
p {
  text-align: center;
  padding: 10px;
}
img:hover {
  opacity: 80%;
}
.bio:hover {
  color: turquoise;
}
