.navbar{
    .displayFlex( center );
    margin:30px 30px;
    .topNav {
        margin:30px 30px;
    }
    a {
        text-decoration: none;
        color:black;
        font-size:1.4rem;
        opacity: 80%;
        padding: 5px;
        
    }
    .Home {
        .navBar()
    }
    .About {
        .navBar()
    }
}

@media (max-width:500px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    margin-left: 20px 0;
    margin-bottom: 20px;
    .Home,.About{
        border-right:none;
    }
}}