.navbar{
    display:flex;
    justify-content: center;
    margin:25px 25px;
    .topNav {
        margin:30px 30px;
      a {
        text-decoration: none;
        color:black;
        font-size:1.6rem;
        opacity: 80%;
        padding: 10px;
        font-weight: bold;
        margin-left: 10px;
      }
    .Home {
        .navBar();
    }
    .About {
        .navBar()
               }
            }
        }
    



@media @mobile {
    .topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
    border:.5px inset @borderColor;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px;
  }
 }
}

@media @mobile {
  body {
    background-color: oldlace;
  }
}