.navbar{
  .flex();
    justify-content: center;
    align-content: space-around;
    margin:90px 30px;
    .topNav {
 
      a {
        text-decoration: none;
        color:black;
        font-size:1.2rem;
        opacity: 80%;
        padding: 10px;
        margin-left: 10px;
      }
    .Home {
        .navBar();
    }
    .About {
        .navBar()
               }
            }
        }
    



@media @mobile {
    .topNav {
    .flex();
    flex-direction: column;
    a {
    border:.5px inset @borderColor;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px;
    padding: 30%;
    text-align: center;
  }
 }
}

@media @mobile {
  body {
    background-color: oldlace;
  }
}